<div class="container">
  <h2>Lista wyprowiantowania</h2>
  <form #soldierForm="ngForm" (ngSubmit)="addSoldier(soldierForm.value)">
    <div>
      <label for="stopien">Stopień:</label>
      <input type="text" id="stopien" name="stopien" ngModel required>
    </div>
    <div>
      <label for="imie">Imię:</label>
      <input type="text" id="imie" name="imie" ngModel required>
    </div>
    <div>
      <label for="nazwisko">Nazwisko:</label>
      <input type="text" id="nazwisko" name="nazwisko" ngModel required>
    </div>
    <div>
      <label for="data_wyprowiantowania">Data wyprowiantowania:</label>
      <input type="date" id="data_wyprowiantowania" name="data_wyprowiantowania" ngModel required>
    </div>
    <div>
      <label for="norma_zywienia">Norma żywienia:</label>
      <select id="norma_zywienia" name="norma_zywienia" ngModel required>
        <option *ngFor="let norm of foodNorms" [value]="norm.value">{{ norm.label }}</option>
      </select>
    </div>
    <button type="submit">Dodaj żołnierza</button>
  </form>

  <table>
    <thead>
    <tr>
      <th>Lp.</th>
      <th>Stopień</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Data wyprowiantowania</th>
      <th>Norma żywienia</th>
      <th>Usuń</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let soldier of soldiers">
      <td>{{ soldier.id }}</td>
      <td>{{ soldier.stopien }}</td>
      <td>{{ soldier.imie }}</td>
      <td>{{ soldier.nazwisko }}</td>
      <td>{{ soldier.data_wyprowiantowania | date }}</td>
      <td>{{ soldier.norma_zywienia }}</td>
      <td>
        <button (click)="removeSoldier(soldier.id)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button class="create-order-button">Utwórz rozkaz</button>
  </div>
</div>
