<ng-container *ngIf="isLoggedIn">
  <header class="header-nav" *ngIf="userRole === 'admin'">
    <button class="nav-button" routerLink="/lista-obecnosci">Lista obecności</button>
    <button class="nav-button" routerLink="/umundorowanie">Umundurowanie</button>
    <button class="nav-button" routerLink="/bron">Broń</button>
    <button class="nav-button" routerLink="/dodaj-zolnierza">Dodaj żołnierza</button>
    <button class="nav-button" routerLink="/szkolenia">Szkolenia</button>
    <button class="nav-button" routerLink="/raport-frekfencji">Raport frekfencji</button>
    <button class="nav-button" routerLink="/wyprowiantowanie">Wyprowiantowanie</button>
    <button class="nav-button" routerLink="/instruktaz">Instruktaż</button>
    <button class="nav-button" routerLink="" (click)="logout()">Wyloguj</button>
  </header>
</ng-container>

<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>IRB System - WAT - 2023/2024</p>
</footer>
